# Chapter 02. 파이썬의 기본 문법

In [2]:
# 예제 2-1
a = 20
b = 30
c = a+b
print(c)

50

In [3]:
# 예제 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x,Computer,Age,my_score,_name,myBirthYear,data2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
# 예제 2-3
eng score = 90
7font ='굴림'
my-age = 20
percent% = 100
animal# = '사슴'

SyntaxError: invalid syntax (<ipython-input-4-81995601afc8>, line 2)

In [5]:
# 예제 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [7]:
# 예제 2-5
x = 3.3764
y = 6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [9]:
# 예제 2-6
a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

In [10]:
# 예제 2-7
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [11]:
# 예제 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [12]:
# 예제 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [13]:
# 예제 2-10
a = 10
b = 20

c = a + b * 10 - 5 / 5
print(c)

209.0

In [14]:
# 예제 2-11
x = 10 % 3
print(x)

y = 7//3
print(y)

1
2

In [15]:
# 예제 2-12
x = 2**3
print(x)

y = 10**4
print(y)

8
10000

In [16]:
# 예제 2-13
x = 10
x += 20
print(x)

30

In [17]:
# 예제 2-14
x = 3
y = 5
x *= x + y
print(x)

24

In [18]:
# 예제 2-15
hello = '안녕'*5

print(hello)

안녕안녕안녕안녕안녕

In [19]:
# 예제 2-16
a = '쥐 구명에 볕 들 날 있다.'

b = len(a)

print(b)

15

In [20]:
# 예제 2-17
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [21]:
# 예제 2-18
eng = 80
result = '영어 점수 :' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [22]:
# 예제 2-19
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

In [23]:
# 예제 2-20
name = '김수영'
a = '나는 %s입니다.' % name
print(a)

나는 김수영입니다.

In [24]:
# 예제 2-21
age = 20
a = '나이는 %d살 입니다.' % age
print(a)

나이는 20살 입니다.

In [25]:
# 예제 2-22
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' % (year, month, day)
print(a)

2020-03-05

In [26]:
# 예제 2-23
height = 172.5
a = '키는 %.2f입니다' % height
print(a)

키는 172.50입니다

In [27]:
# 예제 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [28]:
# 예제 2-25
name = '홍길동'
age = 30
height = 173.7
print(name,age,height)

홍길동 30 173.7

In [29]:
# 예제 2-26
x = 10
y = 20

print('x =' + str(x) + ',y = ' + str(y))

x =10,y = 20

In [30]:
# 예제 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d' % (score1, score2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [31]:
# 예제 2-28
name = '김소원'
id = 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디: {}, 마일리지 : {}'.format(id,point))

이름 : 김소원
아이디: kim, 마일리지 : 18000

In [32]:
# 예제 2-29
year = 2020
month = 3
day = 5

print(year, month, day, sep='/')

2020/3/5

In [34]:
# 예제 2-30
a = '안녕하세요.'
b = '반갑습니다.'

print(a)
print(b)

print('\n\n')

print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

In [35]:
# 예제 2-31
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.' %name)

이름을 입력하세요 : 홍길동
홍길동님 반갑습니다.

In [36]:
# 예제 2-32
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = a + b

print(c)
print(type(a), type(b), type(c))

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
1020
<class 'str'> <class 'str'> <class 'str'>

In [37]:
# 예제 2-33
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = int(a) + int(b)

print(c)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
30

In [38]:
# 예제 2-34
inch = float(input('인치(inch)를 입력하세요 :'))

cm = inch * 2.54

print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 :32.8
센티미터 : 83.31

In [40]:
# Q2-1
# 실행결과
# 삼각형의 밑변 길이 : 10
# 삼각형의 높이 : 3
# 삼각형의 면적 : 15.0
width = 10
height = 3

area = width * height / 2

print('삼각형의 밑변 길이 : ', width)
print('삼각형의 높이 : ', height)
print('삼각형의 면적 : ', area)

삼각형의 밑변 길이 :  10
삼각형의 높이 :  3
삼각형의 면적 :  15.0

In [41]:
# Q2-2
# 실행결과
# 물건가격 : 800원
# 구매개수 :  3개
# 지불금액 : 5000원
# 거스름돈 : 2600원
price = 800
buy = 3
pay = 5000

change = pay - price*buy

print('물건가격 : ', price, '원')
print('구매개수 : ', buy, '개')
print('지불금액 : ', pay, '원')
print('거스름돈 : ', change, '원')

물건가격 :  800 원
구매개수 :  3 개
지불금액 :  5000 원
거스름돈 :  2600 원

In [42]:
# Q2-3
x = 20
y = 4

x = y % x
print(x)

y -= x*2
print(x,y)

4
4 -4

In [48]:
# Q2-4
# 실행결과
# 성 : 홍
# 이름 : 길동
# 홍길동의 나이 : 30세, 키 : 171.50cm'
name = '홍길동'
age = 30
height = 171.5

print('성 : ', name[0])
print('이름 : ', name[-2:])
print("%s의 나이 : %d세, 키 : %.2fcm" % (name, age, height))

성 :  홍
이름 :  길동
홍길동의 나이 : 30세, 키 : 171.50cm

In [49]:
# Q2-5
# 실행결과
# 학생 이름을 입력하세요 :황예린
# 국어 성적을 입력하세요 :83
# 영어 성적을 입력하세요 :85
# 수학 성적을 입력하세요 :91
# 이름 :황예린, 국어:83, 영어:85, 수학:91, 평균:86.3점
name = input('학생 이름을 입력하세요 :')
kor = int(input('국어 성적을 입력하세요 :'))
eng = int(input('영어 성적을 입력하세요 :'))
math = int(input('수학 성적을 입력하세요 :'))

sum = kor + eng + math
avg = sum /3

print('이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균 :%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 :황예린
국어 성적을 입력하세요 :83
영어 성적을 입력하세요 :85
수학 성적을 입력하세요 :91
이름:황예린, 국어:83, 영어:85, 수학:91, 평균 :86.3점

In [50]:
# 예제 2-35
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10                            # 변수 a에 10 저장
b = 20                            # 변수 b에 20 저장

c = a + b                         # 두 수를 더해 변수 c에 저장

#결과를 출력한다.
print(c)

30