# Chapter 6 연습문제 튜플과 딕셔너리

In [10]:
#1
members = {'kim99':12000,'lee66':11000,'han55':3000,\
           'hong77':5000, 'hwang33':18000}
i = 0
for key in members :
    i += 1
    print('%d. 아이디 : %s, 마일리지 : %d점' % (i, key, members[key]))

1. 아이디 : kim99, 마일리지 : 12000점
2. 아이디 : lee66, 마일리지 : 11000점
3. 아이디 : han55, 마일리지 : 3000점
4. 아이디 : hong77, 마일리지 : 5000점
5. 아이디 : hwang33, 마일리지 : 18000점

In [14]:
#2
#아이디 'han55'의 마일리지를 5000점으로 업데이트, 출력
members = {'kim99':12000,'lee66':11000,'han55':3000,\
           'hong77':5000, 'hwang33':18000}

members['han55'] = 5000

print('han55님의 마일리지가 %d점으로 수정 되었습니다.'\
     % members['han55'])

han55님의 마일리지가 5000점으로 수정 되었습니다.

In [24]:
#3
#딕셔너리에 아이디 'jang88', 마일리지 7000점 추가
#전체 딕셔너리와 추가된 데이터를 출력하는 프로그램
members = {'kim99':12000,'lee66':11000,'han55':3000,\
           'hong77':5000, 'hwang33':18000}

members['jang88'] = '7000'
print(members)

print('jang88님의 마일리지(%s점)가 추가 되었습니다.' % members['jang88'])

{'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': '7000'}
jang88님의 마일리지(7000점)가 추가 되었습니다.

In [38]:
#4
#딕셔너리에서 가장 높은 마일리지를 찾아 출력하는 프로그램
members = {'kim99':12000,'lee66':11000,'han55':3000,\
           'hong77':5000, 'hwang33':18000}

sorted(members, key= lambda x : members[x])
print (sorted(members.items(), key=lambda x : x[1], reverse=True))

[('hwang33', 18000), ('kim99', 12000), ('lee66', 11000), ('hong77', 5000), ('han55', 3000)]

In [62]:
#5
sky = {'월':25.5,'화':28.3,'수':33.2,'목':32.1,'금':17.3,'토':35.3,'일':33.3}

print('-'*70)
print('\n')
for key in sky :
    print('   %s    ' % key, end='')
print('\n')
    
print('-'*70)
for key in sky :
    print('  %.1f   ' % sky[key], end='')
print('\n')
    
print('-'*70)

----------------------------------------------------------------------


   월       화       수       목       금       토       일

----------------------------------------------------------------------
  25.5     28.3     33.2     32.1     17.3     35.3     33.3

----------------------------------------------------------------------

In [70]:
#6
#딕셔너리에서 주중 가장 낮은 최고 기온을 찾아서 출력하는 프로그램
sky = {'월':25.5,'화':28.3,'수':33.2,'목':32.1,'금':17.3,'토':35.3,'일':33.3}
sorted(sky, key= lambda x : sky[x])
print(sorted(sky.items(), key=lambda x : x[1]))
print('가장 낮은 최고 기온 : %.1f' % sky['금'])

[('금', 17.3), ('월', 25.5), ('화', 28.3), ('목', 32.1), ('수', 33.2), ('일', 33.3), ('토', 35.3)]
가장 낮은 최고 기온 : 17.3

In [79]:
#7
#딕셔너리에서 주간 최고 기온이 30도 이상인 요일을 출력하는 프로그램
sky = {'월':25.5,'화':28.3,'수':33.2,'목':32.1,'금':17.3,'토':35.3,'일':33.3}
for key in sky :
    if sky[key] >= 30 :
        print(key , end ='')

수목토일

In [84]:
#8
#딕셔너리에서 일주일간 최고 기온의 평균을 구하는 프로그램
sky = {'월':25.5,'화':28.3,'수':33.2,'목':32.1,'금':17.3,'토':35.3,'일':33.3}
sum = 0
for key in sky :
    sum += sky[key]
    
avg = sum/len(sky)

print('일주일간 최고 기온의 평균 : %.1f' % avg)

일주일간 최고 기온의 평균 : 29.3

# Chapter 07. 연습문제 함수

In [86]:
#1
def f1(a) :
    a += 10
    print(a, end='')
    
a = 10
f1(a)
print(a)

2010

In [90]:
#2
def f2(a) :
    global y 
    y += a
    x = 500
    print(y, end = '')
    
x = 100
y = 200
f2(x)
print(x, end ='')
print(y)

300100300

In [94]:
#3
#소수를 구하는 프로그램
a = int(input('n값을 입력해 주세요 : '))

for i in range(2,a) :
    chk = True
    for j in range(2,i) :
        if i%j ==0:
            chk = False
            break
    if chk :
        print(i, end=' ')

n값을 입력해 주세요 : 20
2 3 5 7 11 13 17 19

In [98]:
#4
#입력받은 문자열을 역순으로 출력하는 프로그램
sentence = input('문자열을 입력하세요 : ')
def f3(a) :
    print(sentence[::-1])

f3(x)

문자열을 입력하세요 : I am hungry.
.yrgnuh ma I

In [99]:
#5
def numSquare(num) :
    list_new = []
    for i in range(1,num+1):
        list_new.append(i**2)
        
    return list_new

n = 5
result = numSquare(n)
print(result)

[1, 4, 9, 16, 25]

In [5]:
#6
a = int(input('첫 번째 수를 입력하세요 : '))
b = int(input('두 번째 수를 입력하세요 : '))
t_num = 0
if a > b :
    t_num = a
else :
    t_num = b

while t_num:
    if t_num % a == 0 and t_num % b == 0 :
        print('두 수의 최소 공배수는 %d 입니다.' % t_num)
        break
    t_num += 1

첫 번째 수를 입력하세요 : 8
두 번째 수를 입력하세요 : 20
두 수의 최소 공배수는 40 입니다.

In [1]:
#7
#유효한 비밀번호를 만드는 프로그램의 실행결과
def PasswordisValid(p) : 
   if len(p) < 10 : 
      return False 

   is_num = False 
   is_upper = False
    

   for ch in p : 
    
    
      if ch >= 'A' and ch <= 'Z' : 
         is_upper = True 
      if ch >= '0' and ch <= '9' : 
         is_num = True 

   return is_upper and is_num 


print('※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야 합니다.') 


password1 = input('비밀번호 : ') 
password2 = input('비밀번호 확인: ') 


while True :
    if PasswordisValid(password1) and password1 == password2 :
        break
    else :
        if not PasswordisValid(password1) :  
            print('비밀번호가 잘못되었습니다! 다시 입력해 주세요')
        else :  
            print('비밀번호와 비밀번호 확인이 서로 다릅니다! 다시 입력해 주세요!')

    password1 = input('비밀번호: ') 
    password2 = input('비밀번호 확인 : ') 

print('유효한 비밀번호입니다~~~')

※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야 합니다.
비밀번호 : A123456789
비밀번호 확인: A123456789
유효한 비밀번호입니다~~~

In [1]:
#8
#리스트의 요소를 오름차순으로 정렬하는 프로그램 작성
numbers = [77,36,29,11,20,6,91,33]
def sel_sort(a):
    n = len(a)
    for i in range(0, n - 1):
        max_idx = i
        for j in range(i + 1, n):
            if a[j] < a[max_idx]:
                max_idx = j
        a[i], a[max_idx] = a[max_idx], a[i]

numbers = [77,36,29,11,20,6,91,33]
print(numbers)
sel_sort(numbers)
print(numbers)

[77, 36, 29, 11, 20, 6, 91, 33]
[6, 11, 20, 29, 33, 36, 77, 91]